.row {
    display: flex;
    width: 900px;
    height: 100px;
}

.col{
    background-color: palegreen;
    justify-content: space-between;
    flex: 1;
    margin: 5px;
}
.col-2 {
    background-color: palegoldenrod;
    flex: 2;
    margin: 5px;
}
.col-3 {
    background-color: pink;
    flex: 3;
    margin: 5px;
}